* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #00D8FF;
}

.nav-logo img {
  width: 30px;
  height: 30px;
}

nav {
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
  padding: 30px 25px;
  background-color: #21222A;
  color: white;
}

main {
  color: white;
  margin: 57px 27px;
}

.main--title {
  margin-bottom: 36px;
  font-size: 37px;
  letter-spacing: -0.05em;
}

.main--list li {
  margin-bottom: 20px;
  margin-left: 27px;
}